.title{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}
.list{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
  &__items{
    list-style-type: none;
    border: 1px solid black;
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}